<% provide :categories, @categories %>
<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span><%= t "layouts._header.categories" %></span>
          </div>
          <ul>
            <% @categories.each do |category| %>
              <li><a href="#"><%= category.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <%= form_tag(products_path, method: "get") do %>
              <%= text_field_tag "keyword", nil, placeholder: t('layouts._header.key_word') %>
              <%= button_tag t("layouts._header.search"), :name => nil, :class => 'site-btn' %>
            <% end %>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="https://res.cloudinary.com/tdh/image/upload/v1595387131/images/hero/banner_exorfz.jpg">
          <div class="hero__text">
            <a href="#" class="primary-btn"><%= t "layouts._header.shop_now" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel">
        <% @lastest_products.each do |product| %>
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg=<%= product.images.first.url %> >
              <h5><a href="#"><%= product.name %></a></h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2><%= t "static_pages.home.hot_products" %></h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*"><%= t "static_pages.home.all_products" %></li>
            <% @categories.each do |category| %>
              <li data-filter=.<%= category.slug %>><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter" id="featured_mixtup">
      <% @products_of_categories.each do |product| %>
        <div class="col-lg-3 col-md-4 col-sm-6 mix <%= product.category.slug %>">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg=<%= product.images.first.url %>>
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#"><%= product.name %></a></h6>
              <h5>$<%= product.price %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Featured Section End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4><%= t "static_pages.home.cheapest_mobile" %></h4>
          <div class="latest-product__slider owl-carousel">
            <% @products[:mobile].each_with_index do |product, index| %>
              <% if index % 3 == 0 %>
                <div class="latest-prdouct__slider__item">
              <% end %>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic col-sm-6">
                  <%= image_tag(product.images.first.url) %>
                </div>
                <div class="latest-product__item__text">
                  <h6><%= product.name %></h6>
                  <span>$<%= product.price %></span>
                </div>
              </a>
              <% if index % 3 == 2 || index == @products[:mobile].length - 1 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4><%= t "static_pages.home.cheapest_tablet" %></h4>
          <div class="latest-product__slider owl-carousel">
            <% @products[:tablet].each_with_index do |product, index| %>
              <% if index % 3 == 0 %>
                <div class="latest-prdouct__slider__item">
              <% end %>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic col-sm-6">
                  <%= image_tag(product.images.first.url) %>
                </div>
                <div class="latest-product__item__text">
                  <h6><%= product.name %></h6>
                  <span>$<%= product.price %></span>
                </div>
              </a>
              <% if index % 3 == 2 || index == @products[:tablet].length - 1 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4><%= t "static_pages.home.cheapest_laptop" %></h4>
          <div class="latest-product__slider owl-carousel">
            <% @products[:laptop].each_with_index do |product, index| %>
              <% if index % 3 == 0 %>
                <div class="latest-prdouct__slider__item">
              <% end %>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic col-sm-6">
                  <%= image_tag(product.images.first.url) %>
                </div>
                <div class="latest-product__item__text">
                  <h6><%= product.name %></h6>
                  <span>$<%= product.price %></span>
                </div>
              </a>
              <% if index % 3 == 2 || index == @products[:laptop].length - 1 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Product Section End -->
