<% provide :categories, @categories %>
<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span><%= t "layouts._header.categories" %></span>
          </div>
          <ul>
            <% @categories.each do |category| %>
              <li>
                <%= link_to products_path(category_id: category.id) do %>
                  <%= category.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <%= form_tag(products_path, method: "get") do %>
              <%= text_field_tag "keyword", params[:keyword] ? params[:keyword] : "", placeholder: t("layouts._header.key_word") %>
              <%= button_tag t("layouts._header.search"), :name => nil, :class => "site-btn" %>
            <% end %>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="https://res.cloudinary.com/tdh/image/upload/v1597109356/images/banner/fb-banner-offline_n4pauf.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel">
        <% @lastest_products.each do |product| %>
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg=<%= product.images.first.url %> >
              <h5>
                <%= link_to product do %>
                  <%= product.name %>
                <% end %>
              </h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2><%= t "static_pages.home.hot_products" %></h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*"><%= t "static_pages.home.all_products" %></li>
            <% @categories.each do |category| %>
              <li data-filter=.<%= category.slug %>><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter" id="featured_mixtup">
      <% @products_of_categories.each do |product| %>
        <div class="col-lg-3 col-md-4 col-sm-6 mix <%= product.category.slug %>">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg=<%= product.images.first.url %>>
              <ul class="featured__item__pic__hover">
                <li class="add-cart" data-product-id="<%= product.id %>" >
                  <%= link_to "#" do %>
                    <i class="fa fa-shopping-cart" ></i>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6>
                <%= link_to product do %>
                  <%= product.name %>
                <% end %>
              </h6>
              <h5><%= number_to_currency(product.price) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Featured Section End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4><%= t "static_pages.home.cheapest_mobile" %></h4>
          <div class="latest-product__slider owl-carousel">
            <% @products[:mobile].each_with_index do |product, index| %>
              <% if index % 3 == 0 %>
                <div class="latest-prdouct__slider__item">
              <% end %>
              <%= link_to product, class: "latest-product__item" do %>
                <div class="latest-product__item__pic col-sm-4">
                  <%= image_tag(product.images.first.url) %>
                </div>
                <div class="latest-product__item__text">
                  <h6><%= product.name %></h6>
                  <span><%= number_to_currency(product.price) %></span>
                </div>
              <% end %>
              <% if index % 3 == 2 || index == @products[:mobile].length - 1 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4><%= t "static_pages.home.cheapest_tablet" %></h4>
          <div class="latest-product__slider owl-carousel">
            <% @products[:tablet].each_with_index do |product, index| %>
              <% if index % 3 == 0 %>
                <div class="latest-prdouct__slider__item">
              <% end %>
              <%= link_to product, class: "latest-product__item" do %>
                <div class="latest-product__item__pic col-sm-4">
                  <%= image_tag(product.images.first.url) %>
                </div>
                <div class="latest-product__item__text">
                  <h6><%= product.name %></h6>
                  <span><%= number_to_currency(product.price) %></span>
                </div>
              <% end %>
              <% if index % 3 == 2 || index == @products[:tablet].length - 1 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4><%= t "static_pages.home.cheapest_laptop" %></h4>
          <div class="latest-product__slider owl-carousel">
            <% @products[:laptop].each_with_index do |product, index| %>
              <% if index % 3 == 0 %>
                <div class="latest-prdouct__slider__item">
              <% end %>
              <%= link_to product, class: "latest-product__item" do %>
                <div class="latest-product__item__pic col-sm-4">
                  <%= image_tag(product.images.first.url) %>
                </div>
                <div class="latest-product__item__text">
                  <h6><%= product.name %></h6>
                  <span><%= number_to_currency(product.price) %></span>
                </div>
              <% end %>
              <% if index % 3 == 2 || index == @products[:laptop].length - 1 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Product Section End -->
