<%= render "admins/shared/error_messages", object: @user %>
<%= form_for [:admins, @user] do |f| %>
  <div class="form-group row">
    <%= f.label :name, t(".name"), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", placeholder: t(".placeholder_name") %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, t(".email"), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control", placeholder: t(".placeholder_email") %>
    </div>
  </div>
  <% if action_name == "new" %>
    <div class="form-group row">
      <%= f.label :password, t(".password"), class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control", placeholder: t(".placeholder_password") %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :role, t(".role"), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.select :role, options_for_select(option_role_select, @user.role), {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-end">
      <button type="submit" class="btn btn-success"><%= t ".save" %></button>
    </div>
  </div>
  <br>
<% end %>
