<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span><%= t "layouts._header.categories" %></span>
          </div>
          <ul>
            <% @categories.each do |category| %>
              <li>
                <%= link_to products_path(category_id: category.id) do %>
                  <%= category.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <%= form_tag products_path, method: :get do %>
              <%= text_field_tag t("layouts._header.key_word"), params[:keyword] ? params[:keyword] : "", placeholder: t("layouts._header.key_word") %>
              <%= button_tag t("layouts._header.search"), name: nil, class: "site-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
