<%= provide :title, t(".carts") %>
<%= render "header" %>
<%= render "banner" %>
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <% if session[:cart] %>
      <div class="row">
        <div class="col-lg-12">
          <div class="shoping__cart__table">
            <table>
              <thead>
                <tr>
                  <th class="shoping__product"><%= t ".product" %></th>
                  <th><%= t ".price" %></th>
                  <th><%= t ".quantity" %></th>
                  <th><%= t ".total" %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "carts/item", collection: @carts, as: :item %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-6">
        <div class="shoping__cart__btns">
          <%= link_to t(".continue_shopping"), products_path, class: "primary-btn cart-btn" %>
        </div>
      </div>
      <% if session[:cart] %>
        <div class="col-lg-6">
          <div class="shoping__checkout">
            <h5><%= t ".cart_total" %></h5>
            <ul>
              <li><%= t ".total" %> <span id="total"><%= number_to_currency @total %></span></li>
            </ul>
            <%= link_to new_order_path, class: "primary-btn" do %>
              <%= t ".checkout" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->
