<main>
  <div class="container-fluid">
    <h1 class="mt-4"><%= t".list_products" %></h1>
    <%= render "admins/products/form_search" %>
    <br>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <h6 class="text-right">
            <span><%= t ".counts" %><%= @products.total_count %></span>
          </h6>
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".category" %></th>
              <th><%= t ".brand" %></th>
              <th><%= t ".price" %></th>
              <th><%= t ".amount" %></th>
              <th><%= t ".status" %></th>
              <th><%= t ".action" %></th>
            </tr>
            </thead>
            <tbody>
              <%= render partial: "admins/products/product_item", collection: @products, as: :product %>
              <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content"></div>
                </div>
              </div>
            </tbody>
          </table>
          <%= paginate @products, theme: "twitter-bootstrap-4" %>
        </div>
      </div>
    </div>
  </div>
</main>
