<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="product__item">
    <div class="product__item__pic set-bg" data-setbg=<%= product.images.first.url %>>
      <ul class="product__item__pic__hover">
        <li class="add-cart" data-product-id="<%= product.id %>" >
          <%= link_to "#" do %>
            <i class="fa fa-shopping-cart" ></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="product__item__text">
      <h6>
        <%= link_to product do %>
          <%= product.name %>
        <% end %>
      </h6>
      <h5><%= number_to_currency(product.price) %></h5>
    </div>
  </div>
</div>
