<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="product__item">
    <div class="product__item__pic set-bg" data-setbg=<%= product.images.first.url %>>
      <ul class="product__item__pic__hover">
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-heart"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-retweet"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-shopping-cart"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="product__item__text">
      <h6>
        <%= link_to product do %>
          <%= product.name %>
        <% end %>
      </h6>
      <h5><%= product.price %></h5>
    </div>
  </div>
</div>
