<div class="col-lg-3 col-md-3">
  <div class="sidebar">
    <%= form_tag(products_path, method: :get) do %>
      <div class="sidebar__item">
        <h4><%= t "products.index.brand" %></h4>
        <ul>
          <%= render partial: "products/brand", collection: @brands %>
        </ul>
      </div>
      <div class="sidebar__item">
        <h4><%= t "products.index.price" %></h4>
        <div class="price-range-wrap">
          <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="<%= Settings.min %>" data-max="<%= Settings.max %>">
            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
          </div>
          <div class="range-slider">
            <div class="price-input">
              <input type="text" class="text-left" id="minamount" name="minamount">
              <input type="text" class="text-right" id="maxamount" name="maxamount">
            </div>
          </div>
        </div>
      </div>
      <%= button_tag t "products.index.apply", name: nil, class: "site-btn" %>
    <% end %>
  </div>
</div>

