<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <%= link_to "#" do %>
      <%= image_tag("https://res.cloudinary.com/tdh/image/upload/v1595343877/images/logo_i3t2tp.png") %>
    <% end %>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-heart"></i>
          <span>1</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-shopping-bag"></i>
          <span>3</span>
        <% end %>
      </li>
    </ul>
    <div class="header__cart__price"><span>$150.00</span></div>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__language">
      <%= image_tag(Settings.language_image, class: "") %>
      <div><%= I18n.locale %></div>
      <span class="arrow_carrot-down"></span>
      <ul>
        <li><%= link_to t("layouts._header.vietnamese"), locale: "vi" %></li>
        <li><%= link_to t("layouts._header.english"), locale: "en" %></li>
      </ul>
    </div>
    <div class="header__top__right__auth">
      <%= link_to "#" do %>
        <i class="fa fa-user"></i>
        <%= t "layouts._header.login"  %>
      <% end %>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active">
        <%= link_to t("layouts._header.home"), home_path %>
      </li>
      <li>
        <%= link_to t("layouts._header.products"), products_path %>
      </li>
      <li>
        <%= link_to t("layouts._header.help"), help_path %>
      </li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <%= link_to "#" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fa fa-linkedin"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fa fa-pinterest-p"></i>
    <% end %>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <%= link_to "#" do %>
                <i class="fa fa-facebook"></i>
              <% end %>
                <%= link_to "#" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
              <%= link_to "#" do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
              <%= link_to "#" do %>
                <i class="fa fa-pinterest-p"></i>
              <% end %>
            </div>
            <div class="header__top__right__language">
              <%= image_tag("https://res.cloudinary.com/tdh/image/upload/v1595343877/images/language_uyra3n.png") %>
              <div><%= I18n.locale %></div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><%= link_to t("layouts._header.vietnamese"), locale: "vi" %></li>
                <li><%= link_to t("layouts._header.english"), locale: "en" %></li>
              </ul>
            </div>
            <div class="header__top__right__auth">
              <%= link_to "#" do %>
                <i class="fa fa-user"></i>
                <%= t("layouts._header.login")  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <%= link_to "#" do %>
            <%= image_tag("https://res.cloudinary.com/tdh/image/upload/v1595343877/images/logo_i3t2tp.png") %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active">
              <%= link_to t("layouts._header.home"), home_path %>
            </li>
            <li>
              <%= link_to t("layouts._header.shop"), products_path %>
            </li>
            <li>
              <%= link_to t("layouts._header.contact"), help_path %>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-heart"></i>
                <span>1</span>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-shopping-bag"></i>
                <span>3</span>
              <% end %>
            </li>
          </ul>
          <div class="header__cart__price"><span>$150.00</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->

